configuration:
  # Enable or disable the configuration setup for Home Assistant
  enabled: true
  # Force init will merge the current configuration file with the default configuration on every start
  # This is useful when you want to ensure that the configuration file is always up to date
  forceInit: true
securityContext:
  privileged: true

additionalVolumes:
  - hostPath:
      path: /dev/serial/by-id/usb-Nabu_Casa_ZBT-2_DCB4D9124108-if00
      type: CharDevice
    name: usb

additionalMounts:
  - mountPath: /dev/ttyACM0
    name: usb

ingress:
  # Enable ingress for home assistant
  enabled: true
  # Enable external ingress (cannot be true when ingress.enabled is true)
  external: false
  className: nginx
  labels: {}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.org/proxy-read-timeout: "7200s"
    nginx.org/proxy-send-timeout: "7200s"
    nginx.org/keepalive: 300
  hosts:
    - host: assistant.sync.lt
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
  - hosts:
    - assistant.sync.lt
    secretName: assistant-letsencrypt
