apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./externalSecret.yaml
- ./ingress.yaml
namespace: homepage

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: homepage
      namespace: homepage
    path: ./patches/volumes.yaml


helmGlobals:
  chartHome: charts
helmCharts:
- name: homepage
  version: 2.1.0
  repo: https://jameswynn.github.io/helm-charts
  releaseName: homepage
  includeCRDs: true
  namespace: homepage
  valuesFile: values.yaml
